<div class="fundo">
        <div class="texto">

            <head>Contato</head>

            <body>
                <header>
                    <h1>Contato!</h1>
                    <section>
                        <h2>Onde e como você pode me encontrar</h2>
                    </section>
                </header>
                <article>
                    <ul id="categoria">Redes sociais
                        <section class="section">
                            <a>Twitter</a> <br/>
                            <a style="cursor: default">Instagram:</a>
                            <section class="subsection">
                                <a>* Perfil das plantinhas!</a> <br/>
                                <a>* Perfil pessoal</a> <br/>
                            </section>
                            <a>LinkedIn</a> <br/>
                            <a>GitHub</a> <br/>
                        </section>
                        <section id="categoria">
                            O jeito do velho mundo: e-mail!</section>
                        <div class="section">bih (underline) sayuri (arroba) hotmail (ponto) com <br />
                            (favor não me lotar de spam rs)
                        </div>
                        <a id="categoria" style="cursor: pointer">Minha página narcísica!</a>
                    </ul>
                </article>
                <footer class="margemR">
                <app-feedback></app-feedback>
            </footer>
            </body>
        </div>
    </div>