<div id="fundo2">
    <div class="margem">

        <head>
            <title>Suculentas</title>
        </head>
        
        <body>
            <header>
                <app-cabecalho-suculentas></app-cabecalho-suculentas>
                <section>
                    <header>
                        <h2>Mas o que são plantas suculentas?</h2>
                        <p>Popularmente chamamos de suculentas aquelas plantas capazes de armazenar maior quantidade de
                            água nas
                            folhas, no caule, em bulbos, etc.,
                            de modo a conseguirem sobreviver a um longo período de estiagem. Não se trata de uma
                            classificação
                            botânica per se, mas um agrupamento
                            de plantas com origem diversa, que possuem essa característica em comum. Uma confusão comum
                            é
                            excluir os cactos do grupo das suculentas,
                            tratando-os como um grupo próximo, mas excluído do anterior. Na verdade, cactos pertencem ao
                            grupo
                            das suculentas e apenas apresentam
                            algumas características mais acentuadas!
                        </p>
                    </header>
                </section>
            </header>
            <article>
                <app-indice1></app-indice1>
            </article>
            <article>
                <app-indice2></app-indice2>
            </article>
            <footer>
                <app-feedback></app-feedback>
            </footer>
        </body>
    </div>
</div>