<div class="fundo">
    <div class="margem">

        <head>Sem ID</head>

        <body>
            <header>
                <app-sem-id-cabecalho></app-sem-id-cabecalho>
                <section>Infelizmente, nem sempre é possível saber exatamente o nome da espécie que estamos levando para
                    casa
                    porque tudo que importa é a beleza da planta. No entanto, sem a identificar, os cuidados que
                    precisamos
                    ter, num primeiro momento, precisam ser redobrados! Como não sabemos pelo que pesquisar, acabamos
                    tendo
                    que depender unicamente da nossa observação e em relação a muitos aspectos. Portanto, se você sabe o
                    nome
                    da espécie de qualquer planta desta página, por favor, me escreva e me conte!!</section>
            </header>
            <article>(Insira aqui o primeiro post)</article>
            <footer>
                <app-feedback></app-feedback>
            </footer>
        </body>
    </div>
</div>