<div id="fundo-arvore">
    <div class="margem">

        <head>Árvores e frutíferas</head>

        <body>
            <header>
                <app-arvores-cabecalho></app-arvores-cabecalho>
                <section>
                    <header>
                        <h2>Que divisão é essa?</h2>
                        <p>Sim, eu sei que toda árvore dá frutos por serem angiospermas. No entanto, nem todos os frutos
                            são consumidos por nós, seres humanos, pelos mais diversos motivos, e é daí que vem essa
                            divisão: as frutíferas, as quais me refiro aqui, são as árvores que produzem frutos que
                            consumimos. As demais são árvores ornamentais!
                        </p>
                    </header>
                    <article>
                        <app-indice4></app-indice4>
                    </article>
                    <footer>
                        <app-feedback></app-feedback>
                    </footer>