<nav class="navegacao">
    <a routerLink="">Home</a>
    <a routerLink="suculentas">Suculentas</a>
    <a routerLink="folhagens">Folhagens</a>
    <a routerLink="arvores-e-frutiferas">Árvores e frutíferas</a>
    <a routerLink="sem-id">Sem ID</a>
    <a routerLink="wishlist">Wishlist</a>
    <a routerLink="contato">Contato</a>
    <input class="margin-top placeholder" type="search" name="pesquisa" placeholder="Procure uma plantinha!">
    <button class="botao margin-top" type="button">Bora!</button>
</nav>
<router-outlet></router-outlet>