<div id="fundo3">
    <div class="margem">

        <head>Folhagens</head>

        <body>
            <header>
                <app-folhagens-cabecalho></app-folhagens-cabecalho>
                <section>
                    <header>
                        <h2>Mas o que estou chamando de "folhagens"?</h2>
                        <p>Todas as plantas que não podem ser consideradas suculentas ou semi suculentas e possuem
                            pequeno
                            porte, além de precisarem de água diariamente
                            ou quase diariamente, essas são as plantas que chamo aqui de "folhagens", por falta de um
                            nome mais
                            apropriado. Mantenho a maioria dessas
                            plantas no meu banheiro, pois o ar da minha cidade é muito seco e banheiros costumam ser
                            lugares
                            muito úmidos nas casas. E não se preocupem,
                            meu banheiro recebe muita claridade! Outras, como as hortaliças, mantenho do lado de fora,
                            no sol ou
                            alta claridade para que se desenvolvam
                            melhor. Há ainda aquelas que apenas recebem mais água que as suculentas de interior, mas
                            habitam o
                            mesmo ambiente. </p>
                    </header>
                </section>
            </header>
            <app-indice3></app-indice3>
            <app-feedback></app-feedback>
        </body>
    </div>
</div>