<div class="fundo">
    <div class="margem">

        <header>
            <app-cabecalho></app-cabecalho>
            <section>
                <p>
                    Eu tenho muitas plantas. MUITAS plantas. Assim, senti a necessidade de catalogá-las (na medida
                    do
                    possível) para que seja mais fácil
                    evitar comprar alguma que eu já tenha, para admirar sua beleza através do plano virtual e para
                    ter algum
                    controle em geral. Obrigada,
                    plantinhas, por manterem minha mente sã!
                </p>
            </section>
            <article>(Insira aqui um post de blog)</article>
        </header>
        <footer>
            <app-feedback></app-feedback>
        </footer>
    </div>
</div>